.App {
  text-align: center;
}

html {
  scroll-behavior: smooth;
  overflow-x:hidden !important;
  max-width:100vw !important;
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------Header---------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/


/*holds navbar, matches background for large screens*/
.navbar-container {
  background-color:transparent !important;
  width:100%;
  height:100px;
  z-index:5;
  position:fixed;
  top:0px;
}

#white-nav {
  background-color:transparent !important;
}

.collapse ul {
  background-color:white;
}

nav {
  position:fixed !important;
  top:0px;
  width:100%;
  z-index:5;
}

.navbar-brand img{
  height:50px;
}

.navbar-brand a:hover {
  color:lightblue !important;
}

.book-now {
  padding-right:10px;
  background-color:transparent;
  color:white;
}

.nav-item {
  padding-left:10px;
  padding-right:10px;
  font-size:14px;
  font-weight:500;
  letter-spacing:1px;
}

.nav-item a {
  color: #ff6700 !important;
}

ul {
  padding:10px;
}

li a {
  color:#ff6700 !important;
  line-height:30px;
}

a:link {
  text-decoration: none !important;
}

li a:hover {
  color:lightblue !important;
}

.dropdown .nav-link {
  padding:0px;
  padding-left:20px;
}

.no-padding-nav {
  padding:0px !important;
  padding-left:20px !important;
}

.padded-nav {
  padding-left:20px;
}

.navbar-nav {
  text-align:right;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  border-color: transparent !important;
}


@media only screen and (min-width: 900px) {
  nav {
    width:940px;
    left:50%;
    margin-left:-470px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-brand img{
    height:50px;
  }
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------Home-----------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.main {
  height:100vh;
  overflow:hidden; 
  width:100%;
  background-position: center !important;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index:-5;
}

.main-img-1 {  
  background-image: url(./home-back-min.jpg);
}

.main-img-2 {  
  background-image: url(./home-back2-min.jpg);
}

.main-img-3 {  
  background-image: url(./home-back3-min.jpg);
}

.main-img-4 {  
  background-image: url(./home-back4-min.jpg);
}

.main-slider .slick-list {
  height:100vh;
}

.main-slider .slick-dots {
  bottom: 50px !important;
  z-index:5 !important;
  background-color: transparent !important; 
}

.main-slider .slick-dots li button::before {
  font-size:10px !important;
}

.main-slider .slick-dots li button:focus {
  opacity: .1 ;
}

.main-slider .slick-dots li.slick-active button {
  opacity: 1 !important;
}

.main-slider .slick-dots li button:hover, .main-slider .slick-dots li.slick-active button:hover {
  opacity: 1 !important;
}

.main-slider .slick-arrow {
  display: none !important;
}

@media only screen and (max-width: 767px) {
  .main {
    background-attachment: scroll;
  }
}


/*-----------------------------------------your-stay------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.your-stay {
  height:50vh;
  background-color:#8039c7;
  color:white;
  width:100%;
}

.your-stay-arrows-div {
  text-align:left;
}

.your-stay-left-arrow {
  margin-right:20px;
}

.your-stay-right-arrow {
  margin-left:20px;
}

.your-stay-carousel-col {
  padding-right:0px !important;
}

.your-stay-container {  
  max-width:100% !important;
  margin-left:auto;
  margin-right:auto;
}

.your-stay h2 {
  font-size:36px;
  margin:0;
  text-align:left;
  margin-bottom:8px;
}

.your-stay-body {
  font-size:16px;
  max-width:400px;
  text-align:left;
}

.your-stay .slick-arrow {
  display: none !important;
}

.your-stay-description {  
  display: flex;
  align-items: center;
  height: 50vh;
  text-align:center;
}

.your-stay-carousel {
  margin-top:12.5vh !important;
}

.your-stay-img {
  height:50vh;
  overflow:hidden;
  background-position: center !important;
  background-repeat:no-repeat;
  background-size:cover;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index:1;
  position:relative;
}

.your-stay-caption-div {
  position:absolute;
  bottom:0;
  width:100%;
}

.your-stay-caption {
  width:100%;
  text-align:center;
}

.your-stay-img-1 {  
  background-image: url(./home-back-min.jpg);
}

.your-stay-img-2 {  
  background-image: url(./home-back2-min.jpg);
}

.your-stay-img-3 {  
  background-image: url(./home-back3-min.jpg);
}

.your-stay-img-4 {  
  background-image: url(./home-back4-min.jpg);
}

@media only screen and (max-width: 767px) {
  .your-stay {
    height:70vh;
  }

  .your-stay-description {  
    display: flex;
    align-items: center;
    height: 25vh;
  }

  .your-stay-carousel {
    margin-top:5vh !important;
  }

  .your-stay-container {
    padding-top:30px;
    padding-bottom:20px;
  }

  .your-stay-caption {
    font-size:16px;
  }


  .your-stay h2 {
    text-align:center;
  }

  .your-stay-body {
    text-align: center;
  }

  .your-stay-arrows-div {
    text-align:center;
  }

}

/*-----------------------------------------happenings-----------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.happenings-description {
  width:100vw;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

.happenings-description p {
  max-width:500px;
  margin-left:auto;
  margin-right:auto;
}

.grid {
  max-width:1000px;
  width:80%;
  margin-left:auto;
  margin-right:auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-flow: dense;
}

.wide {
    grid-column: span 2;
}

.high {
    grid-row: span 2;
    min-height:500px;
}

.background-img {
  overflow:hidden;
  background-position: center !important;
  background-repeat:no-repeat;
  background-size:cover;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index:1;
}

.grid-2 {
  background-color:#febf3e;
}

.grid-3 {
  background-color:#8038c8;
}

.grid-6 {
  background-color:#47e1d9;
}

.grid-8 {
  background-color:#f97c44;
}

.top-left {
  background-image:url(./eating-min.jpg);  
  position:relative;
}

.grid-1 {
  background-image:url(./happy-people-min.jpg);
}

.grid-4 {
  background-image:url(./concert-min.jpg);
}

.grid-5 {
  background-image:url(./pool-min.jpg);
}

.grid-7 {
  background-image:url(./coffee-min.jpg);
}

.space {
  width:100%;
  min-height:250px;
  min-width:250px;
  color:white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
}

.big-image {
  position:relative;
  height:100%;
  position:absolute;
  bottom:0;
}

.big-image-caption {
  text-align:left;
  margin-left:40px;
  height:100px;
  font-weight:600;
  font-size:18px;
  position:absolute;
  bottom:0;
  left:0;
}

.big-image-top {
  margin-bottom:5px;
}

.big-image-bottom {
  font-weight:300;
  font-size:16px;
  margin-bottom:32px;
}

@media only screen and (max-width: 666px) {
  .wide {
      grid-column: span 1;
  }

  .high {
      grid-row: span 1;
      min-height:250px;
  }

  .big-image-caption {
    height:75px;
  }

  /*hide all solely image squares on small screens*/
  .grid-1 {
    display:none;
  }
  .grid-4 {
    display:none;
  }
  .grid-5 {
    display:none;
  }
  .grid-7 {
    display:none;
  }

  /*move each image to a before hover, and on hover show details*/
  .grid-2 {
    background-image:url(./happy-people-min.jpg);
  }
  .grid-2 .space {
    opacity:0;
  }
  .grid-2:hover {
    background-image:none;
    background-color:#febf3e;
  }
  .grid-2:hover .space {
    opacity:1;
  }

  .grid-3 {
    background-image:url(./concert-min.jpg);
  }
  .grid-3 .space {
    opacity:0;
  }
  .grid-3:hover {
    background-image:none;
    background-color:#8038c8;
  }
  .grid-3:hover .space {
    opacity:1;
  }


  .grid-6 {
    background-image:url(./pool-min.jpg);
  }
  .grid-6 .space {
    opacity:0;
  }
  .grid-6:hover {
    background-image:none;
    background-color:#47e1d9;
  }
  .grid-6:hover .space {
    opacity:1;
  }


  .grid-8 {
    background-image:url(./coffee-min.jpg);
  }
  .grid-8 .space {
    opacity:0;
  }
  .grid-8:hover {
    background-image:none;
    background-color:#f97c44;
  }
  .grid-8:hover .space {
    opacity:1;
  }
}


/*-----------------------------------------glimpses-----------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.glimpses {
  height:75vh;
  background-color:#333;
  color:white;
}

.glimpses-row {  
  padding-top:5vh;
  padding-bottom:5vh;
}

.glimpses-heading {
  text-align:left;
}

.glimpses p {
  font-size:14px;
  text-align:left;
}

.glimpses-toggle {
  text-align:right;
}

.glimpses-tab-number {
}

.glimpses-img {
  height:65vh;
  overflow:hidden;
  background-position: center !important;
  background-repeat:no-repeat;
  background-size:cover;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index:1;
  margin-left:20px;
}

.glimpses-img-1 {  
  background-image: url(./home-back-min.jpg);
}

.glimpses-img-2 {  
  background-image: url(./home-back2-min.jpg);
}

.glimpses-img-3 {  
  background-image: url(./home-back3-min.jpg);
}

.glimpses-img-4 {  
  background-image: url(./home-back4-min.jpg);
}

.glimpses .slick-arrow {
  display: none !important;
}


.glimpses-arrows-div {
  text-align:left;
}

.glimpses-left-arrow {
  margin-right:20px;
}

.glimpses-right-arrow {
  margin-left:20px;
}

@media only screen and (max-width: 767px) {
    .glimpses-img {
    height:50vh;
    overflow:hidden;
    background-position: center !important;
    background-repeat:no-repeat;
    background-size:cover;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index:1;
  }

  .glimpses-left-arrow {
    margin-right:10px;
  }

  .glimpses-right-arrow {
    margin-left:10px;
  }
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------aboutUs--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.about-us {
  background:linear-gradient(0deg,rgba(255,255,255,0.6),rgba(255,255,255,0.6)),url(./footer-background-min.jpg);
  height:60vh;
  overflow:hidden; 
  width:100%;
  background-position: center !important;
  background-repeat:no-repeat;
  background-size:cover;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index:-5;
  margin-top:-50vh;
}

.about-us-right {
  margin-top:20vh;
}

.about-us-img-div {
  background-image: url(./home-back-min.jpg);
  height:60vh;
  width:80vh;
  overflow:hidden; 
  background-position: center !important;
  background-repeat:no-repeat;
  background-size:cover;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index:1;
  margin-left:auto;
  margin-right:auto;
}

.know-more-container {
  display:flex;
  justify-content:flex-start;
  align-items:center;
}

.know-more-text {
  margin-left:10px;
  font-weight:600;
  color: #ff7d14;
}

@media only screen and (max-width: 767px) {
  .about-us-img-div {
    max-width:100%;
  }

  .about-us-container {
    margin-top:300px;
  }

  .about-us-right {
    margin-top:10vh;
    padding-bottom:40vh;
  }

  .about-us {
    margin-top: -125vh;
    height:100vh;
  }
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------footer---------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/
.footer {
  border-top:1px solid orange;
  border-bottom: 1px solid lightgray;
  line-height: 10px;
  font-size: 10px;
  padding-top:20px;
  padding-bottom:20px;
}

.footer-container {
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
}

.footer-row {
  max-width:800px;
  margin-left:auto !important;
  margin-right:auto !important;
}

.footer th, .footer td {
  padding-top:0px !important;
  padding-bottom:30px !important;
}

@media only screen and (max-width: 575px) {
  .table td, table th {
    padding:0px !important;
  }

  .footer-logo-col {
    display:none;
  }

  .footer th, .footer td {
    padding-bottom:15px !important;
  }
}


/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------media queries >767px-------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 767px) {
  ul {
    background-color:#f8f9fa;
    padding:0px;
  }

  li a{
    color:black !important;
  }
}